
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">

      Meeting digital and technology standards in schools and colleges - DRAFT
      <span class="govuk-caption-l">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}


    <h2 class="govuk-heading-m">Find out how to meet the technology standards for IT services and digital equipment for all schools and colleges</h2>
    </div>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Contents</a>
        </li><br><br>
    <p>These standards are to support your school or college use the right digital infrastructure and technology.<br><br>

Following these standards can help make more informed decisions about technology leading to safer, more cost-efficient practices and new learning opportunities for pupils.<br><br>


      The standards are to be used by everyone involved in the planning and implementing of technology within schools and colleges, including:
      <ul class="govuk-list govuk-list--bullet">
      <li>senior leadership team</li>
      <li>teachers</li>
      <li>IT staff</li>
      <li>suppliers</li>
      <li>technical advisors</li>
      </ul>
      </p>

<p> These standards are to help your school or college with:

<ul class="govuk-list govuk-list--bullet">
 <li>planning budget allocated to the procurement and maintenance of technology</li>
  <li>buying new technology</li>
  <li>investing in digital infrastructure</li>
  <li>increase flexibility for learning</li>
  <li>renewing a contract with a technology provider to ensure what they buy meets the needs of your school or college </li>
  <li>installing new technology equipment to ensure it is properly configured or set-up </ul>
  </p>

<p> You should:</p>

<ol class="govuk-list govuk-list--number gcweb-list--numbered-solid">
        <li>Read the standard and sub-categories.</li><br>
        <li>Review the standards and see if your school or college meets them.</li><br>
        <li>Speak with your ICT supplier or in-house support team to find out what can be done if you’re not currently meeting the standards.</li>
</ol>
<h2 class="govuk-heading-m"></h2>

<a href="/broadband"><font size=+1><b>Broadband internet standards for schools and colleges</font></a>
<p>Find out what standards your school or college should meet on connection type, connection speed, resilience and safeguarding</p>
<HR WIDTH="100%" SIZE="3">

<a href="/switches"><font size=+1><b>Switches standards for schools and colleges</font></a>
<p>Find out what standards your school or college should meet on switches performance, management, security and resilience.</p>
<HR WIDTH="100%" SIZE="3">

<a href="/networkcables"><font size=+1><b>Network cabling standards for schools and colleges</font></a>
<p>Find out what standards your school or college should meet on copper cabling, optical fibre cabling and installation.</p>
<HR WIDTH="100%" SIZE="3">

<a href="/wireless"><font size=+1><b>Wireless network standards for schools and colleges</font></a>
<p>Find out what standards your school or college should meet on wireless network performance, coverage, management and security.</p>
<HR WIDTH="100%" SIZE="3">

<a href="/cyber"><font size=+1><b>Cyber security governance and reporting standards for schools and colleges</font></a>
<p>Find out what standards your school or college should meet on cyber security, governance and reporting.</p>
<HR WIDTH="100%" SIZE="3">

<a href="/cyber"><font size=+1><b>Network access control standards for schools and colleges</font></a>
<p>Find out what standards your school or college should meet on network access control and multi factor authentication.</p>
<HR WIDTH="100%" SIZE="3">

<a href="/cyber"><font size=+1><b>Network device protection standards for schools and colleges</font></a>
<p>Find out what standards your school or college should meet on network device protection, firewalss and anti-malware.</p>
<HR WIDTH="100%" SIZE="3">

<a href="/cyber"><font size=+1><b>Software security standards for schools and colleges</font></a>
<p>Find out what standards your school or college should meet on software security, licenses and security patches.</p>
<HR WIDTH="100%" SIZE="3">
</div>
{% endblock %}
