{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}
<a href="index.html" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Network access control standards for schools and colleges
      <span class="govuk-caption-m">{{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}

    <p>Find out what standards your school or college should meet on network access control and multi factor authentication.</p>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
     
         <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="all-user-accounts-should-be-password-protected-or-use-another-technical-authentication-technique-they-should-only-have-the-access-required-to-perform-their-role" data-module="ga4-event-tracker" data-ga4='{"event_name":"select_content","type":"accordion","text":{"text":"3. All user accounts should be password protected or use another technical authentication technique. They should only have the access required to perform their role.","id":"all-user-accounts-should-be-password-protected-or-use-another-technical-authentication-technique-they-should-only-have-the-access-required-to-perform-their-role"},"index":3,"index_total":11}'><span class="govuk-accordion__section-button" id="default-id-7d7674ef-heading-3">All user accounts should be password protected or use another technical authentication technique. They should only have the access required to perform their role.</span></h2>
          
</div>        <div id="default-id-7d7674ef-content-3" class="govuk-accordion__section-content" aria-labelledby="default-id-7d7674ef-heading-3">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h2 class="govuk-heading-s">The importance of meeting the standard</h2>
<p>Successful cyber attacks target user accounts with the widest access and highest privileges on a network.</p>
<p>You must limit the numbers and access of network and global administrative accounts.</p>
<p>If you prevent and limit the compromise of these accounts you prevent and limit successful cyber attacks.</p>
<h2 class="govuk-heading-s">How to meet the standard</h2>
<p>School governors should approve the responsible administrator when your school headteacher or staff member controls access to other accounts.</p>
<p>Otherwise, ask your IT service provider or network manager to set up accounts to meet the technical requirements.</p>
<p>There must be a user account creation, approval and removal process. You should make this part of school joining and leaving protocols.</p>
<p>Your IT service provider may be a staff technician or an external service provider.</p>
<p>Remember that this standard may change over time with changing cyber threats.</p>
<h2 class="govuk-heading-s">Technical requirements to meet the standard</h2>
<p>You must control user accounts and access privileges. Including accounts used by third parties, for example, support services or device management.</p>
<p>Only authorised people can have an account which allows them to access, alter, disclose or delete the held personal data. The data protection officer or the data controller must identify and authorise these tasks.</p>
<p>Users should have a separate account for routine business, including internet access, if their main account:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>is an administrative account</li>
  <li>enables the execution of software that makes significant system or security changes</li>
  <li>can make changes to the operating system</li>
  <li>can create new accounts</li>
  <li>can change the privileges of existing accounts</li>
</ul>
<p>Users must be authenticated before they access devices or services with unique credentials. This can include using passwords.</p>
<p>You must enforce password strength at the system level. If you use a deny list for automatic blocking of common passwords, use a password with at least 8 characters. Or, use a password with at least 12 characters or a biometric test.</p>
<p>The National Cyber Security Centre provides guidance on <a rel="external" href="https://www.ncsc.gov.uk/collection/passwords">password administration for system owners</a>.</p>
<p>You must immediately change any password that has been compromised or suspected of compromise.</p>
<p>You must remove unused accounts. This may include the accounts of users who have left their employment, or accounts that have not been used for a prolonged period of time. This is particularly important for accounts with administrator privileges. You should review this termly.</p>
<p>Unused role privileges must be removed or disabled.</p>
<p>No user’s account should have more access to devices than required to carry out their role.</p>
<p>Use different accounts with specific rights for different purposes. Do not use the same account for different purposes. For example, one account should not be able to access both financial and teaching data.</p>
<p>For younger children or users with special educational needs:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>consider using authentication methods other than passwords</li>
  <li>consider using a separate account accessed by the teacher rather than the student</li>
  <li>segment the network so such accounts cannot reach sensitive data</li>
</ul>
<p>You should not use Global Administrator accounts for routine business.</p>
<p>You should only use accounts requiring administrator privileges to complete the tasks that need it.</p>
<p>You should use service accounts for running system services and not user accounts.</p>
<p>As an alternative, IT service providers and administrators can enable just-in-time access, which gives time-limited user privileges to individual accounts as required. The NCSC provides detailed guidance on <a rel="external" href="https://www.ncsc.gov.uk/collection/secure-system-administration/use-privileged-access-management">privileged access management</a>.</p>
<h2 class="govuk-heading-s">Dependencies to the standard</h2>
<p>None known</p>
<h2 class="govuk-heading-s">When to meet the standard</h2>
<p>You should be looking to implement this standard as soon as you can and with the introduction of each new account.</p>
</div>
</div>
</div>      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading" id="you-should-protect-accounts-with-access-to-personal-or-sensitive-operational-data-and-functions-by-multi-factor-authentication" data-module="ga4-event-tracker" data-ga4='{"event_name":"select_content","type":"accordion","text":{"text":"4. You should protect accounts with access to personal or sensitive operational data and functions by multi-factor authentication.","id":"you-should-protect-accounts-with-access-to-personal-or-sensitive-operational-data-and-functions-by-multi-factor-authentication"},"index":4,"index_total":11}'><span class="govuk-accordion__section-button" id="default-id-7d7674ef-heading-4">You should protect accounts with access to personal or sensitive operational data and functions by multi-factor authentication.</span></h2>
          
</div>        <div id="default-id-7d7674ef-content-4" class="govuk-accordion__section-content" aria-labelledby="default-id-7d7674ef-heading-4">
<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
    <h2 class="govuk-heading-s">The importance of meeting the standard</h2>
<p>Multi-Factor Authentication reduces the possibility of an attacker compromising an account. This is especially important if an account has access to sensitive or personal data.</p>
<p>Multi-factor authentication only allows access to a service when you present 2 or more different forms of authentication. This can be:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>something a user knows (such as a password)</li>
  <li>something a user has (like a specific device)</li>
  <li>something the user is (like a biometric device, or in a specific location)</li>
</ul>
<p>In this context, sensitive data is all data:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>that if lost or compromised, would have a serious impact on the establishment, staff or students</li>
  <li>not considered personal data</li>
</ul>
<p>The Information Commissioner’s Office explains <a rel="external" href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/key-definitions/what-is-personal-data/">what personal data is</a>.</p>
<h2 class="govuk-heading-s">How to meet the standard</h2>
<p>Ask your IT service provider to set up your devices with the multi-factor authentication methods which meet the technical requirements.</p>
<p>You should provide training to users unfamiliar with multi-factor authentication.</p>
<p>The National Cyber Security Centre provides detailed guidance on:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a rel="external" href="https://www.ncsc.gov.uk/guidance/setting-2-step-verification-2sv">setting up 2 step verification</a></li>
  <li><a rel="external" href="https://www.ncsc.gov.uk/blog-post/stepping-multi-factor-authentication">implementing multi-factor authentication</a></li>
  <li><a rel="external" href="https://www.ncsc.gov.uk/guidance/multi-factor-authentication-online-services">multi-factor authentication for online services</a></li>
</ul>
<p>Your IT service provider may be a staff technician or an external service provider.</p>
<p>Remember that this standard may change over time with changing cyber threats.</p>
<h2 class="govuk-heading-s">Technical requirements to meet the standard</h2>
<p>Where practical, you must enable multi-factor authentication. This should always include cloud services for non-teaching staff.</p>
<p>You only need to ask users for a second authentication factor when accessing sensitive data. For example, when moving from lesson plans to MIS.</p>
<p>Any multi-factor authentication is better than none.</p>
<p>Multi-factor authentication should include at least two of the following:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>passwords constructed in the formats described earlier in standard 3</li>
  <li>a managed device, that may belong to the organisation</li>
  <li>an application on a trusted device</li>
  <li>a device with a trusted network IP address, you should not use this in MFA for accounts with administrator rights</li>
  <li>a physically separate token</li>
  <li>a known/trusted account</li>
  <li>a biometric test</li>
</ul>
<h2 class="govuk-heading-s">Dependencies to the standard</h2>
<p><a rel="external" href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/">General Data Protection Regulation (GDPR)</a>.</p>
<h2 class="govuk-heading-s">When to meet the standard</h2>
<p>You should be looking to implement this standard as soon as you can.</p>
</div>
</div>
</div>     
</div>
  </div>
   
  </div>


{% endblock %}
