{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}
<a href="index.html" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Wireless network standards for schools and colleges
      <span class="govuk-caption-m">{{releaseVersion}}</span>
    </h1>

    <p>Find out what standards your school or college should meet on wireless network performance, coverage, management and security.</p>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Use the latest wireless network standard approved by the Wi-Fi Alliance
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
<h2 class="govuk-heading-s">Importance of meeting the standard</h2>
<p> Your school or college will have a high number of users accessing the network at the same time. A high-performance solution is needed to make sure that the speed of the connection does not slow down as more devices connect to the wireless network.</p>


<h2 class="govuk-heading-s">How to meet the standard</h2>

<p> You should ask your supplier or in-house support team to provide a wireless solution that uses the <a href="https://www.wi-fi.org/discover-wi-fi/wi-fi-certified-6"> Wi-Fi 6 standard.</a></p>

<h2 class="govuk-heading-s">Technical requirements to meet the standard</h2>
<p> The wireless network should use the latest standard approved by the Wi-Fi Alliance, Wi-Fi 6 (802.11ax).<br><br>

The wireless network should be configured to support network segregation and QoS.

  <h2 class="govuk-heading-s">Dependencies to the standard</h2>

  <p> The speed of your wireless connection may be affected by your internal network cabling and switches.<br><br>

See other standards on network cabling and switches.

</p>

<h2 class="govuk-heading-s">When to meet the standard</h2>

<p> You should meet the standard when you need to upgrade an underperforming or unsupported solution.</p>

    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Have a fully functional signal from your wireless network throughout the school or college buildings and externally where required
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

<h2 class="govuk-heading-s">Importance of meeting the standard</h2>
<p> Like with mobile phones, a good wireless connection relies on signal strength. It’s important to make sure strong signal coverage in all areas of your school or college where mobile devices are to be used.</p>

<h2 class="govuk-heading-s">How to meet the standard</h2>
<p> Your supplier or in-house support team should provide a central management tool that can be used to configure the switching (core and edge), monitor performance and provide alerts in the event of a failure.</p>

<h2 class="govuk-heading-s">Technical requirements to meet the standard</h2>
<p> Maximise the number of access points to make sure coverage in each space is in line with the planned occupation level. This is to support simultaneous use without reducing the performance.<br><br>

Schools and colleges should ensure that their wireless provider designs a solution for their circumstances. This includes using a wireless heat map and ensuring that impact from building management systems and other networks are minimised.
<h2 class="govuk-heading-s">Dependencies to the standard</h2>

<p> The speed of your wireless connection may be affected by your internal network cabling and switches.<br><br>

See other standards on network cabling and switches.
<h2 class="govuk-heading-s">When to meet the standard</h2>

<p> You should meet the standard when you need to replace your current solution that is underperforming or unsupported.</p>
  </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Have a solution that can centrally manage the wireless network
      </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
    <h2 class="govuk-heading-s">Importance of meeting the standard</h2>
    <p> A wireless network will be made up of many wireless access points. A central management solution will same time allowing your support team to identify areas of poor performance.</p>
<h2 class="govuk-heading-s">How to meet the standard</h2>
<p> Ask your wireless network provider to install a solution with management with access from devices used by the IT support staff.<br><br>

It should:</p>

<ul class="govuk-list govuk-list--bullet">
<li>allow the remote management of a high number of devices to use the network at the same time</li>
<li>provide a single point for configuring access points</li>
<li> apply software updates and give automated alerts if problems occur</li>
</ul>

<h2 class="govuk-heading-s">Technical requirements to meet the standard</h2>
<ul class="govuk-list govuk-list--bullet">
<li>Provide active signal management and load balancing of user/device connectivity</li>
<li>Have central management tools that can be used to configure the wireless access points, monitor performance and provide alerts in the event of a failure for a minimum period of five years after handover</li>
<li> Include a manufacturer warranty and support arrangement (telephone, email and web) including licences, software enhancements and firmware updates, providing five years of cover as a minimum</li>
<li> Include an on-site, system administrator training package, that is manufacturer approved appropriate to the scale of the solution</li>
<li>Be scalable and can accommodate future higher bandwidth requirements</li>
<li>Be capable of providing a configuration file that allows the solution to be reset to the original configuration for the school.</li>
</ul>
<h2 class="govuk-heading-s">When to meet the standard</h2>

<p> You should meet the standard when you need to replace your current solution that is underperforming or unsupported.</p>
</div>
<div class="govuk-accordion__section ">
  <div class="govuk-accordion__section-header">
    <h2 class="govuk-accordion__section-heading">
      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
      Install security features to stop unauthorised access
    </span>
    </h2>
  </div>
  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
    <h2 class="govuk-heading-s">Importance of meeting the standard</h2>
    <p> Your school or college IT networks should prevent access by unauthorised users while providing access to regular and guest users.<br><br>

A wireless network without adequate security may allow unauthorised users access to secure information stored by the school or college. This could lead to:</p>
<ul class="govuk-list govuk-list--bullet">
<li>theft or misuse of sensitive school or pupil data</li>
<li>loss of access to critical school systems</li>
<li> significant disruption and cost</li>
</div>
<h2 class="govuk-heading-s">How to meet the standard</h2>
<p> Ask your wireless network provider, supplier or in-house support team for a proposal that will support the latest Wi-Fi Alliance specification mentioned in tech requirements.

The solution should also ensure that users must not be able to access the network without appropriate authorisation and authentication methods. Any administrative accounts that have access to make configuration changes, must be securely and fully documented.</p>

<h2 class="govuk-heading-s">Technical requirements to meet the standard</h2>
<p> The network solution should ensure that authorised mobile user devices or guest users are securely authenticated individually onto the network. The network traffic should be protected from external and unauthorised internal interception while not impacting on the network’s performance.

To achieve this, you may need:</p>
<ul class="govuk-list govuk-list--bullet">
<li>VLANs</li>
<li>ACLs</li>
<li>secure segregated guest access</li>
<li> the latest authentication protocols (WPA3)</li>
<li>WIPs</li>
<li>certificate-based authentication</li>

</ul>

<h2 class="govuk-heading-s">When to meet the standard</h2>
<p>You should meet the standard when you need to upgrade an underperforming or unsupported solution.</p>
    </div>
  </div>


{% endblock %}
